.weightForm{
    min-width: fit-content;
    max-width: 30%;
    border: 1px solid black;
    padding: 2em;
    line-height: 1.5em;
}

/*Hide tracking alerts until ready*/

#successAlert{
    display: none;
    background: green;
}

#failAlert{
    display: none;
    background: red;
}
