.pageTitle{
    font-size: 2.5em;
    text-align: center;
    line-height: 2em;
    padding: 1em 0;
    text-transform: uppercase;
    font-style: italic;
    background: radial-gradient(circle at center, rgba(0,0,0,.3), rgba(0,0,0,.1));

}
.emptyDiv{
    margin: auto;
    max-width: 50%;
    padding: 3em 0;
}
main{
    display:flex;
    justify-content: space-around;
}

.weightForm{
    flex:1;

    min-width: fit-content;
    max-width: 30%;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.4);
    padding: 2em;
    line-height: 1.5em;
}

.formTitle {
    text-align: center;
    padding-bottom: 1em;
}

fieldset {
    max-width:fit-content;
}

.subBtn {
    margin: auto;
}

/*Hide tracking alerts until ready*/

#successAlert{
    display: none;
    background: green;
}

#failAlert{
    display: none;
    background: red;
}
